<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen" />
</head>
<body>
    <div>
        <h1 align="center"><b>ChatBot</b></h1>
        <p align="center"><img src="../static/img/chatbot.png" alt="Python-BOT" height="80"></p>
        <div class="boxed">
            <div>
                <div id="chatbox">
                    <p class="botText">
                        <span>Olá! Sou seu assistente virtual! </span>
                    </p>
                </div>
                <div id="userInput">
                    <input id="textInput" type="text" name="msg" placeholder="Messagem"/>
                    <button id="sendButton" onclick="sendMessage()">Enviar</button>
                </div>
            </div>
            <script>
                // Função para enviar mensagem
                function sendMessage() {
                    getBotResponse();
                }

                // Função para obter resposta do bot
                function getBotResponse() {
                    var rawText = $("#textInput").val();
                    var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                    $("#textInput").val("");
                    $("#chatbox").append(userHtml);
                    document
                        .getElementById("userInput")
                        .scrollIntoView({ block: "start", behavior: "smooth" });

                    // Corrigindo a chave para 'user_message'
                    $.post("/get_response", { user_message: rawText }).done(function (data) {
                        var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                        $("#chatbox").append(botHtml);
                        document
                            .getElementById("userInput")
                            .scrollIntoView({ block: "start", behavior: "smooth" });
                    });
                }

                // Adicionando evento de tecla para o Enter
                $("#textInput").keypress(function (e) {
                    if (e.which == 13) {
                        e.preventDefault();
                        sendMessage();
                    }
                });
            </script>
        </div>
    </div>
</body>
</html>


